# Dépendances
/node_modules

# Fichiers de build / Astro
/.astro
/dist

# Variables d'environnement sensibles
.env

# Base de données locale SQLite
/data/*.db

# Logs et fichiers système
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store